* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  margin: 40px;
  /* border: solid red 2px; */
  height: 600px;
}

.hero-text-wrapper {
  float: left;
  display: block;
  margin: 40px;
  /* border: solid red 2px; */
  height: 510px;
  width: 30%;
}
.hero-h1 {
  /* float: left;
  display: block; */
  /* border: solid red 2px; */
  margin-top: 90px;
  margin-left: 60px;
  font-family: "Forum";
  font-size: 40px;
  padding: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 40px;
  text-transform: capitalize;
}
.hero-p {
  /* border: solid red 2px; */
  /* margin-top: 10px; */
  padding: 20px;
  font-weight: 100;
  letter-spacing: 6px;
  font-size: 12px;
  margin-left: 60px;
  font-family: "Work Sans";
  line-height: 18px;
}

.hero-btn-wrapper {
  float: left;
  display: block;
  margin-top: 5px;
  padding: 20px;
  margin-left: 60px;
}
.hero-btn {
  border-radius: 20px;
  padding: 10px;
  font-family: "Work Sans";
  cursor: pointer;
  background-color: rgb(160, 202, 238);
}

.hero-img-wrapper {
  float: right;
  display: block;
  /* border: solid red 2px; */
  height: 510px;
  width: 60%;
  margin-top: 40px;
}
.hero-img {
  height: 400px;
  margin-top: 40px;
  align-items: center;
  padding: 4px;
}
.a-link {
  font-size: 6px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: rgb(191, 222, 249);
}
.hero-btn:hover {
  color: rgb(52, 136, 209);
}
